body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Verdana", sans-serif;
	background-color: #dcf3fa;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Trebuchet MS", sans-serif;
}

ul,ol {
	padding-left: 1em;
}

nav.main-nav {
	display: grid;
	grid-template-rows: 50px;
	grid-template-columns: repeat(10, 10%);
	align-items: center;
	justify-items: center;
	background-color: #1e6091;
}

img.main-nav {
	height: 50px;
	width: auto;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

li.main-nav {
	list-style-type: none;
}

ul.main-nav {
	columns: 100px 5;
	column-gap: 0;
}

a.main-nav, a.main-nav:visited, a.main-nav:hover {
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-family: "Trebuchet MS";
	color: #dcf3fa;
	padding: 6px;
	border-radius: 5px;
}

a.main-nav:hover {
	background-color: #16476C;
	transition: all 1s ease;
}

.main-nav-pill-1 {
	grid-column: 6 / 7;
	grid-row: 1 / 2;
}

.main-nav-pill-2 {
	grid-column: 7 / 8;
	grid-row: 1 / 2;
}

.main-nav-pill-3 {
	grid-column: 8 / 9;
	grid-row: 1 / 2;
}

.main-nav-pill-4 {
	grid-column: 9 / 10;
	grid-row: 1 / 2;
}

.main-nav-pill-5 {
	grid-column: 10 / 11;
	grid-row: 1 / 2;
}

.main-nav-standard {
	border: 2px solid #dcf3fa;
}

main {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 25% 50% 25%;
}

.new-videos {
	grid-column: 1/2;
	grid-row: 1/2;
}

main article {
	grid-column: 2/3;
	grid-row: 1/2;
}

.new-posts {
	grid-column: 3/4;
	grid-row: 1/2;
}

p {
	text-align: justify;
}

footer {
	display: grid;
	grid-template-rows: 50px 50px;
	grid-template-columns: repeat(6, 16.66%);
	align-items: center;
	justify-items: center;
	background-color: #1E6091;
	color: #dcf3fa;
}

footer a, footer a:visited, footer a:active, footer a:hover {
	color: #dcf3fa;
}

.footer-link-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.footer-link-2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.footer-link-3 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.footer-link-4 {
	grid-column: 4/5;
	grid-row: 1/2;
}

.footer-link-5 {
	grid-column: 5/6;
	grid-row: 1/2;
}

.footer-link-6 {
	grid-column: 6/7;
	grid-row: 1/2;
}

footer small {
	grid-column: 3/5;
	grid-row: 2/3;
}
